sim_dir/xsim/sim_run.dir/*
sim_dir/sim/*.shm
sim_dir/sim/xcelium*
sim_dir/sim/xcelium.d/*
sim_dir/sim/xm*
sim_dir/sim/.bpad/*
sim_dir/sim/bpad*
sim_dir/sim/.simvision/*
vivado-work/*
vitis-work/*
!vitis-work/.gitdummy
verify/sim_result/

